.user_form_wrapper {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2),
              0 8px 16px rgba(0,0,0,0.1);

  h2 {
    height: 4em;
    line-height: 4em;
    margin: 0;
    text-align: center;
    color: #fff;
    cursor: default;
    text-transform: uppercase;
    background-color: #6b23ee;
  }

  form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    fieldset {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em 0;
    }
  }
}